<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Employee Records</title>
</head>
<body>
<a href="/employees">All Employees</a> | <a href="/managers">Managers</a> | <a href="/engineers">Engineers</a> | <a href="/departments">Departments</a>
<!-- begin inner template-->
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>